<nav id="header-nav" class="navbar" >
<!--white#2E4053" >-->

    <div class="container-fluid" style="background: #2E4053;">

        <div class="collapse navbar-collapse" id="myNavbar" >
            <ul class="nav navbar-nav navbar-left">
                <li><a href="#menu-toggle" id="menu-toggle"  ><span class="glyphicon glyphicon-eye-open"></span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" ><span class="glyphicon glyphicon-user"></span> <% token %></a></li>
                <li><a href="/logout" ><span class="glyphicon glyphicon-log-out"></span> Out</a></li>
            </ul>
        </div>

    </div>
</nav>

