<!DOCTYPE html>
<html lang="en">

<% include ./head.ejs %>

<% include ./header.ejs %>

<body style="background-image: url('Neon_map.jpg')">


<div id="wrapper">

    <% include ./sidenav.ejs %>

    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div id="ods" class="row">
                <div class="jumbotron">
                    <table  class="table  table-bordered table-striped"
                            id="ods_services"   cellspacing="0" width="100%"></table>

                    <script>

                        let cols = [
                            {title : "Group"},
                            { title : 'Service Name' },
                            { title : 'Host'},
                            { title :'Port'},
                            { title :'Path'},
                            { title :'Sub Path'},
                            { title :'GET'},
                            { title :'PUT'},
                            { title :'POST'},
                            { title :'DELETE'}
                        ];


                        let data = [];


//                            [
//                                "locations",
//                                "den-devisd-1.ci.neoninternal.org",
//                                "9090",
//                                "neon-ods/api/locations",
//                                "/siteinfo",
//                                true,
//                                false,
//                                false,
//                                false
//                            ],
//                            [
//                                "locations",
//                                "den-devisd-1.ci.neoninternal.org",
//                                "9090",
//                                "neon-ods/api/locations",
//                                "/siteinfo",
//                                true,
//                                false,
//                                false,
//                                false
//                            ]


                        for ( let i =0 ; i < 1000; i++){
                            data.push( [
                                "<a>Admin</a>",
                                "<a>locations</a>",
                                "<a>den-devisd-1.ci.neoninternal.org<a>",
                                "9090",
                                "neon-ods/api/locations",
                                "/siteinfo",
                                "<input type='checkbox' value='true'>",
                                "<input type='checkbox' value='true'>",
                                "<input type='checkbox' value='true'>",
                                "<input type='checkbox' value='true'>"
                            ]);
                        }



                        $(document).ready(function () {
                            $('#ods_services').DataTable({
                                columns: cols,
                                data: data

                            });
                        });
                    </script>

                </div>
            </div>
            <div id="cds" class="row" hidden>
                <div class="jumbotron">
                    <h1>CDS</h1>
                </div>
            </div>
            <div id="srf" class="row" hidden>
                <div class="jumbotron">
                    <h1>SRF</h1>
                </div>
            </div>
        </div>
    </div>

</div>


</body>

</html>

<script>

    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

</script>