<!DOCTYPE html>
<html >

<head>

  <meta charset="UTF-8">
  <title>Login form using HTML5 and CSS3</title>
  
      <link rel="stylesheet" href="css/style.css">
  
</head>

<body>
			<!-- for the script -->
  <body>
  
<div class="container">
	<section id="content">
		<form action="">
			
<!--			<h1 align="center" style="color:blue;" > WebApp </h1> <h1 style="color:green;" > Login </h1> -->
			<h1 align="center" > <font color="blue"> WebApp </font> <font color="green"> Login </font></h1>

			<div>
				<input type="text" placeholder="Username" required="" id="username" />
				<font color="red">
			</div>
		<br>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
		<br>	
			<div>
				<input type="submit" value="Log in" />
<!--				
				<a href="#">Lost your password?</a>
				<a href="#">Register</a>
-->
			</div>
		<br>
		<br>
			<div>
				<a href="#">Register</a>
			</div>
			<!--
		<br>	
			<div>
				<a href="#">Lost your password?</a>
			</div>
-->			
			</form><!-- form -->
<!--		
		<div class="button">
			<a href="#">Download source file</a>
		</div>	<!-- button -->

	</section>	<!-- content -->
	
</div><!-- container -->

  </body>
  
    <script src="js/index.js"></script>

</body>

</html>
