<!DOCTYPE html>
<html >

<head>

  <meta charset="UTF-8">
  <title>Login form using HTML5 and CSS3</title>
  
  
      <link rel="stylesheet" href="css/style.css">
  
</head>

<!-- <body? -->
<!-- <body background="Neon_map.jpg"> -->
<!--<body style="background-image:url(Neon_map.jpg)" > -->
 <body style="background-image:url(Neon_map.jpg); background-size: 100%; " > 
<!--
<body style="background-image:url(Neon_map.jpg); background-size: 100%; background-image:url(dMal.jfif); background-size: 5%; " > 
-->
			<!-- for the script -->
  <body>
  
<div class="container"> 
<!--<div class="container" background="Neon_map.jpg"; > -->
<!--<div class="container" style="background-image:url(Neon_map.jpg)" > -->
	<section id="content">
		<form action="">
			
<!--			<h1 align="center" style="color:blue;" > WebApp </h1> <h1 style="color:green;" > Login </h1> -->
<!--			<h1 align="center" > <font color="blue"> WebApp </font> <font color="green"> Login </font></h1> -->
<!--			<h1 align="center" style="background-color:yellow;" > <font color="blue"> WebApp </font> <font color="green"> Login </font></h1> -->
			<h1 align="center" > <font color=blue style="background-color:yellow;" > WebApp </font> <font color=green style="background-color:yellow;" > Login </font></h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" />
				<font color="red">
			</div>
		<br>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
		<br>	
			<div>
				<input type="submit" value="Log in" />
<!--				
				<a href="#">Lost your password?</a>
				<a href="#">Register</a>
-->
			</div>
		<br>
		<br>
			<div>
<!--				<a href="#">Register</a> -->
				<a style="background-color:yellow;" href="#">Register</a>
			</div>
			<!--
		<br>	
			<div>
				<a href="#">Lost your password?</a>
			</div>
-->			
			</form><!-- form -->
<!--		
		<div class="button">
			<a href="#">Download source file</a>
		</div>	<!-- button -->

	</section>	<!-- content -->
	
</div><!-- container -->

  </body>
  
    <script src="js/index.js"></script>

</body>

</html>
