<!DOCTYPE html>
<html lang="en">

<% include ./head.ejs %>

<body style="background-image: url('Neon_map.jpg')" ;>


<div class="container  logon-neon">

    <div class="row"></div>
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <div class="form-signin form-signin-neon" style="padding: 10px">
                <h2 class="form-signin-heading" style="color:white">Welcome to Neon</h2>
                <label for="inputEmail" class="sr-only">username</label>
                <input  id="inputEmail" class="form-control" placeholder="username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="password" required>
                <br>
                <button id="postLogon" class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
            </div>
        </div>
    </div>

    <script>


        $("#postLogon").click( (e) => {
            let username = $("#inputEmail").val();
            let password = $("#inputPassword").val();
            App.Ajax.doAjaxPost('/ajax/logon', {
                username : username,
                password : password
                }, (res) =>{
                    alert(JSON.stringify(res));
                    if ( res.success === true) {
                        window.open('/', '_self', false)
                    }
                });
        });

    </script>

</div>
</body>
</html>
